body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.resume {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header input {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    width: 90%;
}

.section h2 input {
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #2980b9;
    color: #2980b9;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section ul li {
    margin-bottom: 10px;
}

ul li input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

input:focus {
    border-color: #2980b9;
    outline: none;
}

.submit-btn{
    display: flex;
    justify-self: center;
    width: 50%;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
    background-color: #2980b9;
    transition: ease-in-out 0.2s;
    color: white;
    border: none;
}

.submit-btn:hover{
    background-color: #144668;
    cursor: pointer;
}
